@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import "react-credit-cards/es/styles-compiled.css";

* {
  box-sizing: border-box;
  transition: all ease 0.2s;
}

body {
  font-family: "Lexend Deca", sans-serif;
}
